study/java/MyApp.jar
study/java/*.txt
study/java/Main.java
study/java/org
study/java/gui.xml
study/java/logo.jpeg
study/python/main.py
study/node/node_modules
study/node/node_modules
study/node/src/index.js
study/cpp/build
study/cpp/main.cpp
study/gui/javam/src/main/java/com/example/java/Main.java
study/gui/javam/app.jar
study/gui/javam/o.txt
study/gui/java/src/Main.java 
study/gui/java/app.jar
study/gui/java/o.txt
study/gui/java/src