._mona_42igw_1 {
    border-radius: 8px;
    padding: .6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    background-color: #04bdc0;
    cursor: pointer;
    width: fit-content
}

._formo_42igw_11 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 80%;
    aspect-ratio: 1.5;
    max-width: 500px;
    margin: 100px auto;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 5px;
    min-width: fit-content;
    box-shadow: 0 0 20px 10px
}

._divStyle_42igw_28 {
    display: flex;
    justify-content: space-around;
    width: 80%
}

._ulc_42igw_35 {
    border: 70%;
    box-sizing: border-box;
    border-radius: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    box-shadow: 0 0 20px 10px;
    max-width: 500px;
    justify-content: space-around;
    margin: 100px auto;
    padding: 5px
}