@font-face {
    font-family: araby;
    src: url(arab2.woff2);
}

* {
    font-family: araby;
    font-size: 20px;
    font-weight: bold;
    background-color: #222;
    color: #eee;
}
input,
button {
    width: 70%;
    text-align: center;
    border-radius: 20%;
}
.w3-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}
@media screen and (min-width:500px) {
    #frm {
        margin-top: 10vh;
        display: flex;
        border-radius: 10%;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 50%;
        aspect-ratio: 3;
        border: 1px solid;
    }
}