@font-face {
    font-family: araby;
    src: url(./fonts/arab2.woff2);
}

* {
    font-family: araby;
    font-size: 20px;
    font-weight: bold;
}

.w3-card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.w3-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

input,
button {
    width: 70%;
    text-align: center;
    border-radius: 20%;
}

.w3-black {
    color: #fff !important;
    background-color: #000 !important
}

.w3-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.flex {
    margin-top: 10vh;
    display: flex;
    border-radius: 10%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
    aspect-ratio: 1;
    border: 1px solid;
}

@media screen and (min-width:500px) {
    #frm {
        margin-top: 10vh;
        display: flex;
        border-radius: 10%;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 50%;
        aspect-ratio: 3;
        border: 1px solid;
    }
}